.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #book-cover {
    width: 200px;
    height: 300px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin: 10px;
  }
  